body {
  padding: 0;
  margin: 0;
  background: white;
}

/** Header styles **/
.header {
  background-image: url('https://hillyfieldsharriers.github.io/website/HillyFieldsHarriers.jpg');
  height: 150px;
  background-position: center;  
  background-repeat: no-repeat;
}

.hfh {
  margin: 10px auto;
  padding: 10px 10px 10px 10px;
  background-color: white;
  overflow: auto;
  width: 40%;
  border-radius: 4px;
  align-self: center;
}

.hfh p {
  color: #2d4061;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.fpimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-bottom: 0%;
  padding-top: 0%;
}

h1 {
  color: #2d4061;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {
  color: #2d4061;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #2d4061;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid#2d4061;
  list-style: none;
  margin: 10px 0px;
  padding-bottom: 0%;
  padding-top: 0%;
}

p {
  color: #2d4061;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

footer {
  text-align: center;
  color: #2d4061;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.navbar {
  background-color: #2d4061;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
}

.navbar a:hover {
  background-color: rgb(113, 128, 163);
  color: white;
}

.instagram-media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 0%;
  padding-top: 0%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
